@media (max-width: 1300px) {
    .log-left {
        padding-left: 48px;
    }
    .form-wrap {
        max-width: 100%;
        flex: 0 0 100%;
    }

}

@media (max-width: 1199px) {
    .search-area .search, .search-area .dropdown {
        max-width: 150px;
        flex: 0 0 150px;
    }
    .search-area .search input[type="search"] {
        padding: 0 0 0 24px;
        font-size: 12px;
        line-height: 16px;
    }
    .search-area .dropdown select {
        padding: 0 0 0 26px;
        font-size: 11px;
    }
    .banner-content h1 {
        line-height: 67px;
        font-size: 58px;
    }
    .section-heading-big {
        font-size: 40px;
        line-height: 50px;
    }
    .job-list li .job-content li {
        margin-right: 17px;
    }
    .blank-box-with-image {
        background-position: center !important;
    }
    .form-element span {
        font-size: 13px;
        line-height: 20px;
    }
    .form-heading-section {
        margin-bottom:60px;
    }
    .form-top h3 {
        font-size: 29px;
        line-height: 40px;
    }
      .form-top h3 span {
        font-weight: 900;
        font-size: 29px;
        line-height: 40px;
        color: #5682ED;
    }
}





@media (max-width: 991px) {

    header .container-flex {
        position: relative;
    }

    .header-button {
        max-width: 92px;
        flex: 0 0 92px;
        margin-right: 35px;
    }
    header .button-style {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        padding: 0;
        text-indent: -1000px;
        overflow: hidden;
        display: flex;
        line-height: 40px;
        justify-content: center;
        align-items: center;
    }

    header .button-style span {
        display: block;
        text-indent: 0;
    }

    header .bars {
        display: flex;
        font-size: 30px;
        cursor: pointer;
        position: absolute;
        right: 8px;
        top: 50%;
        transform: translateY(-50%);
        height: 30px;
    }

    header .times {
        display: block;
        position: absolute;
        right: 1rem;
        top: 1.4rem;
        font-size: 30px;
        cursor: pointer;
    }

    header .nav-right {
        position: fixed;
        top: 0;
        left: -100%;
        width: 300px;
        height: 100%;
        background: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        z-index: 100000;
        transition: all 0.3s ease-in-out;
        display: block;
    }

    header .nav-right ul {
        flex-direction: column;
        justify-content: center;
        height: inherit;
    }

    header .nav-right ul li {
        width: 100%;
        text-align: center;
        margin-right: 0;
    }

    header .nav-right ul li:not(:last-child) {
        border-bottom: 1px solid #ddd;
    }

    header .nav-right ul li a {
        padding: 16px 0;
    }

    header .nav-right ul li a.signup-btn {
        background: initial;
        border-radius: initial;
        padding: 16px 0;
        margin-left: initial;
    }


    header.show-sidebar .nav-right {
        left: 0;
    }


    p {
        font-size: 14px;
    }

    .btnn {
        font-size: 14px;
    }

    .top-heading h2 {
        font-size: 32px !important;
    }

    section {
        padding: 70px 0;
    }

    .complete-content-col::before {
        display: none;
    }

    .complete-content-col:nth-child(even) {
        transform: initial;
    }

    .complete-content {
        width: 100%;
    }

    .complete-btn {
        margin-top: 10px;
    }

    .testi-content img {
        max-width: 60px !important;
    }
    .banner-content {
        text-align: center;
    }
    .banner-strap {
        margin-left: auto;
        margin-right: auto;
    }
    .social {
        justify-content: center;
    }
    .banner-img {
        text-align: center;
    }
    .banner {
        padding: 70px 0 80px;
        margin-top: 110px;
    }
    .search-area .search, .search-area .dropdown {
        max-width: 190px;
        flex: 0 0 190px;
    }
    .search-area .search input[type="search"] {
        padding: 0 0 0 30px;
        font-size: 12px;
    }
    .search-area .dropdown select {
        padding: 0 0 0 30px;
        font-size: 12px;
    }
    .section-heading-big {
        font-size: 30px;
        line-height: 42px;
        margin-bottom: 13px;
    }
    .para-big {
        font-size: 16px;
        line-height: 28px;
    }
    .section-heading-small {
        font-size: 27px;
        line-height: 34px;
    }
    .categories-wrap {
        margin-top: 60px;
    }
    .section-heading-medium {
        font-size: 31px;
        line-height: 39px;
    }
    .process-list li {
        padding: 0 14px;
    }
    .process-list li h3 {
        font-size: 20px;
        line-height: 18px;
        margin-bottom: 15px;
    }
    .process-list li .box figure img {
        height: 100px;
    }
    .tab-nav a {
        font-size: 12px;
        padding: 12px 29px;
    }
    .job-list > li {
        max-width: 50%;
        flex: 0 0 50%;
    }
    .two-box {
        margin-top: 30px;
    }
    .blank-box {
        max-width: 50%;
        flex: 0 0 50%;
    }
    .blank-box h2, .blank-box-with-image h2 {
        font-size: 28px;
        line-height: 32px;
        margin-bottom: 16px;
    }
    .blank-box p, .blank-box-with-image p {
        font-size: 16px;
        line-height: 27px;
    }
    .form-heading-section p {
        font-size: 16px;
        margin-bottom: 28px;
    }
    .banner-content h1 {
        line-height: 67px;
        font-size: 50px;
        margin-bottom: 20px;
    }
    .banner-content h1 br {
        display: none;
    }
    .banner-content h3 {
        font-size: 18px;
        line-height: 29px;
        color: #A4A4A4;
        margin-bottom: 20px;
    }
    .testi-wrap p {
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
        color: #FFFFFF;
        margin-bottom: 30px;
    }
    .name-place h4 {
        font-size: 20px;
        line-height: 33px;
    }

    .ham {
        display: flex;
    }
    .menu-bar {
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        background: #fff;
        width: 245px;
        transform: translateX(100%);
        transition: all 0.4s ease-in-out;
        box-shadow: 1px -7px 13px 0px rgb(0, 0, 0, 0.1);
        padding: 15px 21px;
        z-index: 999;
    }
    .menu-bar ul {
        flex-direction: column;
    }
    .menu-bar ul li {
        margin-right: 0;
        margin-bottom: 8px;
    }
    .cross {
        display: block;
        text-align: right;
        cursor: pointer;
    }
    .rest-nav {
        justify-content: flex-end;
    }
    .menu-bar.slide {
        transform: translateX(0%);
    }

}

@media (max-width: 767px) {
    section {
        padding: 40px 0;
    }
    .banner-content h1 {
        line-height: 50px;
        font-size: 37px;
    }
    .banner-strap, .search-area {
        margin-bottom: 20px;
    }
    .search-area {
        margin-bottom: 20px;
        flex-direction: column;
        height: auto;
        max-width: 100%;
        flex: 0 0 100%;
        align-items: flex-start;
        border-radius: 21px;
        padding: 14px;
    }
    .search-area .search, .search-area .dropdown {
        max-width: 100%;
        flex: 0 0 100%;
        display: flex;
        border: 1px solid #d2d2d3;
        padding: 0 0px 0 18px;
        width: 100%;
        margin-bottom: 10px;
        border-radius: 21px;
        overflow: hidden;
    }
    .search-area .search span, .search-area .dropdown span {
        left: 11px;
    }
    .search-area button[type="submit"] {
        width: 100%;
        height: 40px;
        border-radius: 21px;
    }
    .heading-part p br {
        display: none;
    }
    .process-list li .box figure img {
        height: 64px;
    }
    .process-list li h3 {
        font-size: 17px;
        line-height: 17px;
    }
    .process-list li {
        padding: 0 3px;
    }
    .tab-nav {
        max-width: 267px;
    }
    .job-list > li {
        max-width: 100%;
        flex: 0 0 100%;
    }
    .two-box {
        margin-top: 30px;
        flex-direction: column;
        
    }
    .blank-box {
        margin-bottom: 25px;
    }
    .blank-box, .blank-box-with-image {
        max-width: 100%;
        flex: 0 0 100%;
        height: auto;
        padding: 40px;
    }
    .footer .social {
        justify-content: flex-start;
    }
    .log-left {
        padding: 35px;
        max-width: 50%;
        flex: 0 0 50%;
    }
    .log-right {
        padding: 35px;
        max-width: 50%;
        flex: 0 0 50%;
    }
    .form-top h3 {
        font-size: 26px;
        line-height:35px;
    }
    .form-top h3 span {
        font-size: 26px;
        line-height: 35px;
    }
    .slide-wrap {
        padding: 25px;
    }
    .testi-wrap p {
        font-size: 16px;
        line-height: 23px;
        margin-bottom: 21px;
    }
    .testi-bottom {
        align-items: flex-start;
        flex-direction: column;
    }

}

@media (max-width:618px) {
    .profile {
        position: relative;
    }
    .pro-image {
        position: relative;
    }
    .pro-image:after {
        content: "\f0d7";
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
        position: absolute;
        right: -14px;
    }
    .profile-details {
        position: absolute;
        top: 109%;
        right: 0;
        background: #f4f8f9;
        padding: 9px 12px;
        text-align: right;
        display: none;
    }
    .profile-details.drop{
        display: block;
    }
}

@media (max-width: 575px) {
    .banner {
        padding: 30px 0 30px;
        margin-top: 110px;
    }
    section {
        padding: 30px 0;
    }
    .banner-content h1 {
        line-height: 38px;
        font-size: 30px;
    }
    .service {
        background: #fff;
        padding-bottom: 17px;
    }
    .find-jobs-section {
        padding: 30px 0;
    }
    .job-listing-section {
        padding: 30px 0;
    }
    .form-section {
        padding: 18px 0 0;
    }
    .form-heading-section {
        margin-bottom: 0;
    }
    .log-in {
        flex-direction: column-reverse;
    }
    .log-left {
        max-width: 100%;
        flex: 0 0 100%;
    }
    .log-right {
        max-width: 100%;
        flex: 0 0 100%;
    }
}

@media (max-width: 480px) {
    .banner-strap span {
        padding: 9px 13px;
        font-size: 12px;
    }
    .banner-strap {
        font-size: 12px;
    }
    .section-heading-big {
        font-size: 24px;
        line-height: 33px;
    }
    .section-heading-small {
        font-size: 21px;
        line-height: 27px;
    }
    .categories-wrap {
        margin-top: 35px;
    }
    .section-heading-medium {
        font-size: 25px;
        line-height: 30px;
    }
    .process-list li h3 {
        font-size: 15px;
        line-height: 17px;
    }
    .two-box {
        margin-top: 10px;
        flex-direction: column;
    }
    .blank-box h2, .blank-box-with-image h2 {
        font-size: 24px;
        line-height: 27px;
        margin-bottom: 11px;
    }
    .white-btm {
        font-size: 16px;
        line-height: 18px;
        color: #000;
        padding: 12px 17px;
    }
}

@media (max-width: 360px) {
    .banner-content h1 {
        line-height: 33px;
        font-size: 26px;
    }
    .banner-content h3 {
        font-size: 15px;
        line-height: 26px;
    }
    .section-heading-big {
        font-size: 20px;
        line-height: 27px;
    }
    .section-button-style {
        font-size: 16px;
        line-height: 18px;
        padding: 14px 23px;
    }
    .section-heading-small {
        font-size: 17px;
        line-height: 23px;
        margin-bottom: 0;
    }
    .section-heading-medium {
        font-size: 20px;
        line-height: 26px;
    }
    .process-list li {
        max-width: 100%;
        flex: 0 0 100%;
        padding: 0;
    }
    .sub-heading-text {
        font-size: 13px;
        line-height: 20px;
        margin-bottom: 0;
    }
    .blank-box p br, .blank-box-with-image p br {
        display: none;
    }
    .form-element button[type="submit"] {
        font-size: 14px;
        line-height: 19px;
        padding: 13px 30px;
    }
    .blank-box, .blank-box-with-image {
        padding: 24px;
    }
}